@charset "UTF-8";
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196f3 */
/* белый #FFFFFF */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет иконок #AFB1B8 */
/* цвет текста кнопок  #ffffff */
/* цвет фона кнопок #2196F3 */
/* цвет фона футера #2F303A */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* убирает маркеры списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* убирает подчеркивание у ссылок */
a {
  text-decoration: none;
}

button:hover {
  outline: none;
}

/* <--------Общие стили----------> */
.transition {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 50px;
}

.logo:hover {
  color: #2196f3;
}

.accent {
  color: #2196f3;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/* ------Section------*/
.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

/* <-------------BACKDROP---------------> */
.body.is-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.form-wrapper {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 221px;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
  color: #212121;
}

.label-info {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.person-info-modal {
  position: relative;
}

.person-info-modal:hover .modal-svg,
.person-info-modal:focus-within .modal-svg {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.person-info-modal:hover .modal-form-input,
.person-info-modal:focus-within .modal-form-input {
  border-color: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.cross-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.cross-btn:hover .cross,
.cross-btn:focus-within .cross {
  fill: #2196f3;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-left: 14px;
  top: 21%;
  left: 0;
  cursor: pointer;
}

.modal-form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 100%;
}

.modal-form-comment {
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:hover, .modal-form-comment:focus {
  border-color: #2196f3;
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:hover::placeholder, .modal-form-comment:focus::placeholder {
  color: rgba(117, 117, 117, 0.5);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form-check-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-check-label {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #757575;
  margin: 0 auto;
  margin-bottom: 30px;
}

.modal-form-check-label::before {
  display: block;
  content: "";
  width: 11px;
  height: 11px;
  border: 1px solid #212121;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-right: 8px;
}

.modal-form-check-policy:checked + .modal-form-check-label::before {
  background-color: #2196f3;
  border-color: #2196f3;
}

.accept-policy {
  color: #2196f3;
  text-decoration: underline;
}

.modal-form-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
}

.accept-svg {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .form-wrapper {
    position: absolute;
    width: 450px;
    left: 50%;
  }
  .modal-form-check-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .footer .social-list {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.social-list {
  display: flex;
  margin-top: 20px;
}

.team .social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-list-item-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover, .social-list-item-link:focus {
  background: #2196f3;
  outline: none;
}

.social-list-item-link-svg {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.social-list-item-link:hover .social-list-item-link-svg {
  fill: #ffffff;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

/* social links */
.social-links {
  color: var(--social-links-color);
}

.social-links:hover, .social-links:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer .button {
    display: inline-flex;
    border-radius: 4px;
    padding: 10px 29px;
  }
}

/* <-----Hero button-----> */
.open-button {
  border: none;
}

.hero .button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  outline: none;
  cursor: pointer;
}

/* <--------Footer Button----------> */
.button {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  border: none;
  cursor: pointer;
}

/* Страница Портфолио */
/* <------Кнопки Портфолио------> */
.filter .button {
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  cursor: pointer;
}

.filter .button:hover, .filter .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.item > .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: #f5f4fa;
  border-radius: 4px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  border: 1px solid #ececec;
}

.menu-burger {
  position: relative;
  z-index: 100;
  background-color: transparent;
  border: none;
  height: 40px;
}

.menu-burger-cross {
  display: none;
}

.menu-burger:hover, .menu-burger:focus {
  fill: #2196f3;
}

.menu-burger.is-open .menu-burger-cross {
  display: block;
}

.menu-burger.is-open .menu-burger {
  display: none;
}

.site-nav .link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
}

.site-nav .studio {
  color: #2196f3;
  position: relative;
}

.site-nav .studio::after {
  display: block;
  position: absolute;
  content: "";
  top: 125%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-contacts .contacts-link {
  font-weight: 500;
  font-size: 17px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .menu-wrapper {
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(-120%);
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    width: 480px;
    height: 453px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 140px;
    padding-left: 140px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-wrapper.is-open {
    transform: translateY(0);
  }
  .navigation {
    margin-bottom: 60px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-contacts .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
  .menu-burger {
    display: none;
  }
  .menu-wrapper {
    display: flex;
    align-items: center;
  }
  .navigation {
    margin-right: 84px;
  }
  .site-nav {
    display: flex;
  }
  .site-nav .studio {
    color: #2196f3;
    position: relative;
  }
  .site-nav .studio::after {
    display: block;
    position: absolute;
    content: "";
    top: 285%;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contacts .item:not(:last-child) {
    margin-bottom: 12px;
  }
  .header-contacts .contacts-link {
    font-size: 12px;
    line-height: 1.16;
  }
  .header-container {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  /* Page header */
  .logo {
    margin-right: 93px;
  }
  .page-header {
    border: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .page-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Site-nav */
  .navigation {
    display: flex;
    margin-right: 0;
  }
  .site-nav {
    display: flex;
    align-items: center;
  }
  .site-nav .studio {
    color: #2196f3;
  }
  .site-nav .studio::after {
    top: 95%;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    padding-right: 0;
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: #2196f3;
  }
  .site-nav .link.current {
    color: #2196f3;
  }
  .contacts {
    display: inline-flex;
    align-items: center;
    margin-left: 305px;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
  }
  .contacts .item {
    display: flex;
    align-items: center;
  }
  .contacts .item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts-link {
    display: flex;
    align-items: center;
    color: #757575;
  }
  .contacts-link:hover, .contacts-link:focus {
    color: #2196f3;
  }
}

.envelope-svg {
  align-items: center;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  cursor: pointer;
}

.smartphone-svg {
  align-items: center;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  align-items: center;
  fill: #757575;
  cursor: pointer;
}

.envelope-svg,
.smartphone-svg {
  fill: currentColor;
}

.hero {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero {
    margin: 0;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    color: #ffffff;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* ------Hero------ */
@media screen and (max-width: 767px) {
  .features {
    padding-bottom: 0;
  }
  .feature-list {
    display: block;
  }
  .feature-list .title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .feature-item-icon {
    display: flex;
    width: 450px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }
  .feature-item-icon-svg {
    width: 70px;
    height: 70px;
  }
  .feature-para {
    margin-bottom: 30px;
    margin-top: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

/* features */
@media screen and (max-width: 767px) {
  .work {
    display: none;
  }
}

/* чем мы занимаемся (заголовок) */
@media screen and (max-width: 767px) {
  .team .section-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .team .team-title {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  .team-list {
    align-items: center;
  }
  .team-list .item {
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .team-list.team-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
  .team-list-info {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .background {
    background-color: #f5f4fa;
  }
}

.img {
  width: 450px;
  height: 460px;
}

/* --------Наша команда--------- */
@media screen and (max-width: 767px) {
  .clients .section-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1, 18;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .clients-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .clients-list .item {
    margin-bottom: 30px;
  }
  .clients-list .item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .clients-list-item-link {
    width: 210px;
    height: 90px;
    border: 1px solid currentColor;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-list-item-link:hover, .clients-list-item-link:focus {
    color: #2196f3;
    outline: none;
  }
  .clients-list-item-link-svg {
    fill: currentColor;
  }
  .size-logo-1 {
    width: 44px;
    height: 49px;
  }
  .size-logo-2 {
    width: 40px;
    height: 52px;
  }
  .size-logo-3 {
    width: 41px;
    height: 43px;
  }
  .size-logo-4 {
    width: 80px;
    height: 42px;
  }
  .size-logo-5 {
    width: 59px;
    height: 47px;
  }
  .size-logo-6 {
    width: 88px;
    height: 45px;
  }
}

/* -------Постоянные клиенты-------- */
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer .container {
    display: block;
  }
  .footer-text {
    color: #ffffff;
  }
  .footer-logo {
    text-align: center;
  }
  .logo-footer {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
  }
  .logo-footer:hover {
    color: #2196f3;
  }
  .footer-address {
    margin-top: 20px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
  }
  .footer-contacts {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-subscribe {
    margin-top: 20px;
  }
  .footer-subscribe input {
    width: 450px;
    height: 50px;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 20px;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
  }
  .footer-subscribe input:hover {
    outline: none;
  }
  .footer-subscribe input::placeholder {
    color: #757575;
  }
  .join-telegram {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
    outline: none;
  }
  .footer-join {
    text-align: center;
  }
  .footer-join b {
    text-transform: uppercase;
  }
  .join-font {
    color: rgba(255, 255, 255, 0.6);
  }
  .footer-background {
    background-color: #2f303a;
  }
  .dark-theme {
    fill: white;
  }
}

/* <-------Footer------> */
/*# sourceMappingURL=main.css.map */