/* -------Постоянные клиенты-------- */

.clients .section-title {
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;

  & > .item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-list-item-link {
  width: 170px;
  height: 90px;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $social-links-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    outline: none;
  }
}

.clients-list-item-link-svg {
  fill: currentColor;
}

.size-logo-1 {
  width: 44px;
  height: 49px;
}

.size-logo-2 {
  width: 40px;
  height: 52px;
}

.size-logo-3 {
  width: 41px;
  height: 43px;
}

.size-logo-4 {
  width: 80px;
  height: 42px;
}

.size-logo-5 {
  width: 59px;
  height: 47px;
}

.size-logo-6 {
  width: 88px;
  height: 45px;
}
