/* --------Наша команда--------- */

.team .section-title {
  margin-bottom: 50px;
}

.team .team-title {
  color: $title-text-color;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.team-list {
  display: flex;
  align-items: center;

  & .item {
    width: calc((100% - 30px * 3) / 4);

    text-align: center;
    background: $background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  & .item:not(:last-child) {
    margin-right: 30px;
  }

  &.team-para {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
}

.team-list-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.background {
  background-color: $secondary-background-color;
}
