/* <-------------BACKDROP---------------> */

.body.is-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.form-wrapper {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 221px;
  transform: translateX(-50%);
  background-color: #fff;

  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.label-info {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0.01em;
}

.person-info-modal {
  position: relative;
}

.person-info-modal {
  &:hover .modal-svg,
  &:focus-within .modal-svg {
    fill: $accent-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }

  &:hover .modal-form-input,
  &:focus-within .modal-form-input {
    border-color: $accent-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.cross-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.cross-btn:hover .cross,
.cross-btn:focus-within .cross {
  fill: $accent-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cross {
  width: 11px;
  height: 11px;
  fill: #000000;
}

.modal-svg {
  position: absolute;
  height: 18px;
  width: 18px;
  margin-left: 14px;
  top: 21%;
  left: 0;
  cursor: pointer;
}

.modal-form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 448px;
}

.modal-form-comment {
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  color: rgba(117, 117, 117, 0.5);

  &:placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:hover,
  &:focus {
    border-color: $accent-color;
    outline: none;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      outline: none;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.modal-fonts {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form-check-policy {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-form-check-label {
  display: flex;
  align-items: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #757575;

  margin: 0 auto;
  margin-bottom: 30px;

  &::before {
    display: block;
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid $title-text-color;
    border-radius: 2px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-right: 8px;

    .modal-form-check-policy:checked + & {
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }
}

.accept-policy {
  color: $accent-color;
  text-decoration: underline;
}

.modal-form-btn {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  margin: 0 auto;

  color: $button-text-color;
  background-color: $button-background-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
}

.accept-svg {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: $background-color;
}
