html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* убирает маркеры списков */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* убирает подчеркивание у ссылок */

a {
  text-decoration: none;
}

button:hover {
  outline: none;
}

/* <--------Общие стили----------> */

.transition {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.body {
  padding: 0;
  margin: 0;
  background-color: $background-color;
  color: $primary-text-color;

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.logo {
  color: $title-text-color;
  font-family: "Raleway", sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 50px;
}

.logo:hover {
  color: $accent-color;
}

.accent {
  color: $accent-color;
}
