$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white: #ffffff;
$background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$social-links-color: #afb1b8;
$button-text-color: #ffffff;
$button-background-color: #2196f3;
$footer-background-color: #2f303a;

/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196f3 */
/* белый #FFFFFF */
/* цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* цвет иконок #AFB1B8 */
/* цвет текста кнопок  #ffffff */
/* цвет фона кнопок #2196F3 */
/* цвет фона футера #2F303A */
